@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@Html.AntiForgeryToken()

@if (Model.TargetId != null)
{
    <div class="text-center">
        <div class="row">
            <div id="img-container" class="graph col-md-9">
                <img id="img-analysis" src="@Model.ImageUrl" alt="kitten">
            </div>
            <div class="annotations col-md-3">
                @foreach (var a in Model.Annotations)
                {
                    <div id="@a.Id" class="@(Model.SelectedAnnot != null && Model.SelectedAnnot.DbId == a.DbId ? "selected-annot" : "")" onmouseover="drawRect(@a.Target.X, @a.Target.Y, @a.Target.W, @a.Target.H)" onmouseout="clearRect()">
                        <a>@a.Body</a>
                        <a class="share btn btn-primary btn-sm float-right" href="@a.Target.Id" onclick="share(this)">share</a>
                    </div>
                    <hr/>
                }
            </div>
        </div>

        <canvas id="canvas" width="500" height="500"></canvas>

        <div class="text-left">
            <label id="lblX"></label>
            <label id="lblY"></label>
            <label id="lblW"></label>
            <label id="lblH"></label>
        </div>

        <div class="form-popup" id="annoForm" method="post">
            <form id="addForm" action="/Index" class="form-container">
                <textarea placeholder="Type your annotation" name="Text" required></textarea>
                <input type="hidden" id="txtX" name="X" />
                <input type="hidden" id="txtY" name="Y" />
                <input type="hidden" id="txtW" name="W" />
                <input type="hidden" id="txtH" name="H" />

                <input type="hidden" name="TargetId" value="@Model.TargetId" />

                <button type="submit" class="btn">Send</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
            </form>
        </div>
    </div>
}