@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@Html.AntiForgeryToken()

@if (Model.TargetId != null)
{
    <div class="text-center">
        <div class="row">
            <div class="graph col-md-9" id="img-container">
                <img id="img-analysis" src="@Model.ImageUrl" alt="kitten">
            </div>
            <div class="annotations col-md-3">
                @foreach (var a in Model.Annotations)
                {
                    <div id="@a.Id" class="annot @(Model.SelectedAnnot != null && Model.SelectedAnnot.DbId == a.DbId ? "selected-annot" : "") form-inline"
                         onmouseover="drawRect(@a.Target.X, @a.Target.Y, @a.Target.W, @a.Target.H)" onmouseout="clearRect()">
                        <div>
                            <a>@a.Body</a>
                        </div>
                        <div class="buttons form-inline col-lg-12">
                            <div class="col-lg-6">
                                <a class="share text-primary" href="@a.Target.Id"><i class="fas fa-share-alt"></i></a>
                            </div>
                            <div class="col-lg-6">
                                <a class="delete text-danger" href="@a.Id"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <hr />
                }
            </div>
        </div>

        <div class="text-left">
            <label id="lblX"></label>
            <label id="lblY"></label>
            <label id="lblW"></label>
            <label id="lblH"></label>
        </div>

        <div class="form-popup" id="annoForm" method="post">
            <form id="addForm" class="form-container">
                <textarea placeholder="Type your annotation" name="Text" required></textarea>
                <input type="hidden" id="txtX" name="X" />
                <input type="hidden" id="txtY" name="Y" />
                <input type="hidden" id="txtW" name="W" />
                <input type="hidden" id="txtH" name="H" />

                <input type="hidden" name="TargetId" value="@Model.TargetId" />

                <button type="submit" class="btn">Send</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
            </form>
        </div>
    </div>
}